/* line 23, ../../compass/sass/style.scss */
body {
  padding: 14px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 26, ../../compass/sass/style.scss */
body a {
  color: #00B7FF;
}
